html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background: #fa8072;
  color: #444;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.char-counter {
  width: 440px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1);
  padding: 30px;
}

.char-counter > *:not(:last-child) {
  margin-bottom: 20px;
}

.char-counter__title {
  font-size: 24px;
}

.char-counter__textarea {
  width: 100%;
  resize: none;
  border: 2px solid #ccc;
  padding: 10px;
  font-size: 18px;
}

.char-counter__textarea::placeholder {
  font-size: 18px;
}


.char-counter__result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.char-counter__total {
}

.char-counter__total span {
  color: blue;
}


.char-counter__remaining {
}

.char-counter__remaining span {
  color: red;
}

