html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	box-sizing: border-box;
}

body {
	background: #fa8072;
	font-family: cursive;
  font-size: 24px;
  font-weight: bold;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
